@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fira Code", monospace;
    font-weight: 300;
    color: #464646;
  }
}

.bg-newspaper {
    background-color: #F5F1F0;
}

.text-newspaper {
    color: #F5F1F0;
}

.hover-text {
    transition: all 0.7s;
}

.hover-text:hover {
    color: #1e3a8a;
    border-color: #1e3a8a;
}

.hover-bg {
    transition: background-color 0.7s;
}

.hover-bg:hover {
    background-color: #1e3a8a;
}

.hover-border {
    transition: border-color  0.7s;
}

.hover-border-solid {
    transition: border-color  0.7s;
}

.hover-border-solid:hover {
    border:1px solid #1e3a8a;
}
.hover-border:hover {
    border-color: #1e3a8a;
}

.hover-color {
    transition: filter 0.7s;
}

.hover-color:hover {
    filter: grayscale(0);
}

.caps {
    text-transform: capitalize;
}

.slider-box {
    background-color: #F5F1F0;
}

.range-slider {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 30px 0;
    border: 1px dashed #404040;
    background-color: none;
}

.slider-track {
    height: 3px;
    position: absolute;
    top:0;
    transform: translateY(-50%);
    background-color: #404040;
}

.range-slider input {
    border: 2px solid red;
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid #404040;
    background-color: #F5F1F0;
    pointer-events: auto;
    appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid #404040;
    background-color: #F5F1F0;
    pointer-events: auto;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 1px dashed #404040;
  cursor: pointer;
}

input[type="checkbox"]::after {
    content: "+";
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  transform: scale(0);
  color: #F5F1F0;

  border: 1px solid #404040;
  background-color: #404040;
}

input[type="checkbox"]:checked::after {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  border: 1px solid #404040;
}
